 div, body, header, main, img {
     margin: 0;
     padding: 0;
 }
 /* GLOBAL VARIABLES */
:root { 
    --tile-normal-side: 6rem;
    --header-height: 10vh;
    --icon-base: #FFFAE6;
    --icon-border: #88888850;
    --icon-placeholder: #41A2B2;
  }
body{
  background: center center / cover no-repeat;
}
#title {
  height: var(--header-height);
  background: url(../img/enuk-title.png) center center / contain no-repeat white;
  border-bottom: solid 1px var(--icon-border);
}
#title>img{
  max-height: 100%;
  width: auto;
}

/* RULES page   */
header+section { margin-top: var(--header-height) !important; }
/* learnt about 3D radio button input here https://codepen.io/andreasnylin/pen/agiDp */
fieldset>label { margin: 0 1rem 0 0; }
fieldset>label>input { opacity: 0; }
fieldset>label>img {
  background-color: var(--icon-base);
  border-left: solid 1px var(--icon-border);
  border-radius: 0.5rem;
  margin-bottom: 0;
  margin-left: 3px;
  padding: 8px;
  border-bottom: solid 1px var(--icon-border);
}
fieldset>label :checked+img {
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 8px;
  padding: 1px;
  border-left: solid 3px var(--icon-border);
  border-bottom: solid 5px var(--icon-border);
}
#opponents-picker :not(:checked)+img { opacity: 50%; }
#opponents-picker :checked+img { opacity: 100%; }
.rules-meeple { max-height: 4rem; }
.rules-sun {
  display: inline-block;
  margin-top: 5px;
  width: 50px;
  height: 50px;
}
.rules-sun>img {
  position: absolute;
  max-height: 50px;
}
.rules-tilecounter {
  display: inline-block;
  border: 2px solid var(--icon-placeholder);
  width: 36px;
  height: 36px;
}
.rules-tilecounter>img {
  position: absolute;
  max-height: 32px;
}
.rules-tiles { max-height: 90px; }
.rules-board { max-height: 280px; }

/* GAME page */
.icon-position{ position: absolute; }
#declare{
  position: absolute;
  top: 1vh;
  width: 100%;
}
#declare>label>img{
  height: 8vh;
}
#board-container {
  position: absolute;
  text-align: center;
  top: var(--header-height);
  width: 100%;
  margin: 0 auto;
  opacity: 0.3;
  z-index: -1;
}
#header:hover + main>div#board-container{
  opacity: 1;
  z-index: 1;
  transition: opacity .3s;
}
#board { 
  position: relative;
  display: inline-block;
  max-width: 1200px;
}
#piece-board {
  width: 100%;
}
#icon-piece-sun {
  position: absolute;
  transform: rotate(var(--piece-sun-rotate));
  transition: top 2s linear, left 2s linear, transform 2s linear;
}
.layer-onigloo {
  position: absolute;
  width: var(--piece-igloo3x3-length);
  height: var(--piece-igloo3x3-length);
  top: var(--piece-igloo3x3-fromtop);
  left: var(--piece-igloo3x3-fromleft);
  text-align:justify;
  line-height:0;
}
.tile-onigloo {
  width: var(--piece-igloo-length);
  height: var(--piece-igloo-length);
  display: inline-block;
  text-align: center;
  margin:2px;
}
.meeple-onigloo {
  width: var(--meeple-onigloo-width);
  vertical-align: top;
  padding-top: 2vw;
}
.tiles-stack {
  position: absolute;
  height: var(--tiles-stack-height);
  top: 0;
  transform: rotateX(-180deg);
}
.tile-edge {
  display: block;
  width: var(--tile-edge-width);
}
.meeples-group {
  position: absolute;
  top: var(--board-meeples-fromtop);
  border-top: 3px solid;
}
.tiles-stack-player0 { left: var(--tiles-stack-fromleft0); }
.tiles-stack-player1 { left: var(--tiles-stack-fromleft1); }
.tiles-stack-player2 { left: var(--tiles-stack-fromleft2); }
.tiles-stack-player3 { left: var(--tiles-stack-fromleft3); }
.meeple-on-board {
  width: var(--meeple-onboard-width);
  margin-top:2px;
}
#tiles {
    text-align: center;
    line-height:0;
}
.tile-front > img, .tile-back > img {
    width:  var(--tile-normal-side);
    height: var(--tile-normal-side);
}
/* learnt flipping from here: https://www.w3schools.com/howto/howto_css_flip_card.asp */
.tile {
    display: inline-block;
    width: var(--tile-normal-side);
    height: var(--tile-normal-side);
    line-height: 1rem;
    margin: 2px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the two sides od a tile */
.tile-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform var(--flip-transition-time);
    transform-style: preserve-3d;
}
  
/* Position both sides */
.tile-front, .tile-back {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the back side */
.tile-back { transform: rotateY(180deg); }
/* Flip!  */
.tile-flip-right { transform: rotateY(180deg); }
.tile-flip-left  { transform: rotateY(-180deg); }