 div, body, header, main, img {
     margin: 0;
     padding: 0;
 }
 /* GLOBAL VARIABLES */
:root { 
    --tile-normal-side: 6rem;
    --header-height: 10vh;
    --icon-base: #FFFAE6;
    --icon-border: #88888850;
    --icon-placeholder: #41A2B2;
    --max-width: 1200px;
  }
body {
  background: url("") center top / cover;
  max-width: var(--max-width);
  margin: 0 auto;
}
#header {
  width: 100%;
  height: var(--header-height);
  margin: 0 auto;
  text-align: center;
}
#title {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  background: url(../img/enuk-title.png) center center / contain no-repeat white;
  z-index: 10;
  border: solid 1px var(--icon-border);
  border-top: none;
  border-radius: 0 0 1rem 1rem;
}
.icon-position{
  position: absolute;
}
.icon-position > input {
  opacity: 0;
}
/* learnt about 3D radio button input here https://codepen.io/andreasnylin/pen/agiDp */
.icon-position > label {
  position: absolute;
  display: inline-block;
  height: inherit;
  width: inherit;
  left: 0;
  background-color: var(--icon-base);
  border-left: solid 1px var(--icon-border);
  border-radius: 0.8rem;
  margin-top: 6px;
  margin-left: 2px;
  padding: 2px;
  border-bottom: solid 1px var(--icon-border);
}
.icon-position > label > img {
  height: inherit;
  width: inherit; 
}
.icon-position :checked + label {
  margin-top: 0;
  margin-left: 0;
  padding: 5px;
  border-left: solid 2px var(--icon-border);
  border-bottom: solid 4px var(--icon-border);
}
main {
  text-align: center;
}
#board {
  position: relative;
}
#piece-board {
  display: inline-block;
  width: 100%;
  max-width: var(--max-width);
}
#icon-piece-sun {
  position: absolute;
  transform: rotate(var(--piece-sun-rotate));
  transition: top 2s linear, left 2s linear, transform 2s linear;
}
.layer-onigloo {
  position: absolute;
  width: var(--piece-igloo3x3-length);
  height: var(--piece-igloo3x3-length);
  top: var(--piece-igloo3x3-fromtop);
  left: var(--piece-igloo3x3-fromleft);
  text-align:justify;
  line-height:0;
}
.tile-onigloo {
  width: var(--piece-igloo-length);
  height: var(--piece-igloo-length);
  display: inline-block;
  text-align: center;
  padding:2px;
}
.meeple-onigloo {
  width: var(--meeple-onigloo-width);
  vertical-align: top;
  padding-top: 2vw;
}
.tiles-stack {
  position: absolute;
  height: var(--tiles-stack-height);
  top: 0;
  transform: rotateX(-180deg);
}
.tile-edge {
  display: block;
  width: var(--tile-edge-width);
}
.meeples-group {
  position: absolute;
  top: var(--board-meeples-fromtop);
  border-top: 3px solid;
}
.tiles-stack-player0 {
  left: var(--tiles-stack-fromleft0);
}
.tiles-stack-player1 {
  left: var(--tiles-stack-fromleft1);
}
.tiles-stack-player2 {
  left: var(--tiles-stack-fromleft2);
}
.tiles-stack-player3 {
  left: var(--tiles-stack-fromleft3);
}
.meeple-on-board {
  width: var(--meeple-onboard-width);
  margin-top:2px;
}
#tiles {
    text-align: center;
    line-height:0;
}
.tile-front > img, .tile-back > img {
    width:  var(--tile-normal-side);
    height: var(--tile-normal-side);
}
/* learnt flipping from here: https://www.w3schools.com/howto/howto_css_flip_card.asp */
.tile {
    display: inline-block;
    width: var(--tile-normal-side);
    height: var(--tile-normal-side);
    line-height: 1rem;
    margin: 2px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the two sides */
.tile-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform var(--flip-transition-time);
    transform-style: preserve-3d;
}
  
/* Position both sides */
.tile-front, .tile-back {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the back side */
.tile-back {
    transform: rotateY(180deg);
}
/* Flip!  */
.tile-flip-right { transform: rotateY(180deg); }
.tile-flip-left  { transform: rotateY(-180deg); }