 div {
     margin: 0;
     padding: 0;
 }
 /* GLOBAL VARIABLES */
:root { 
    --tile-normal-side: 6rem;
}
body {
  background: url("") center top / cover;
}
header {
  text-align: center;
}
#title {
  display: inline-block;
  width:100%;
  height: 10vh;
  background: url("../img/enuk-title.png") center / contain no-repeat;
}

#board {
  position: relative;
  text-align: center;
}
#piece-board {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
}
#piece-sun {
  position: absolute;
  width: var(--piece-sun-length);
  top: var(--piece-sun-fromtop);
  left: var(--piece-sun-fromleft);
  transform: rotate(var(--piece-sun-rotate));
  transition: top 2s linear, left 2s linear, transform 2s linear;
}
#icon-collect-tiles {
  position: absolute;
  width: var(--piece-sun-length);
  top: var(--icon-collect-tiles-fromtop);
  left: var(--icon-collect-tiles-fromleft);
}
.layer-onigloo {
  position: absolute;
  width: var(--piece-igloo3x3-length);
  height: var(--piece-igloo3x3-length);
  top: var(--piece-igloo3x3-fromtop);
  left: var(--piece-igloo3x3-fromleft);
  text-align:justify;
}
.tile-onigloo {
  width: var(--piece-igloo-length);
  height: var(--piece-igloo-length);
  display: inline-block;
  text-align: center;
  margin:2px;
}
.meeple-onigloo {
  width: var(--meeple-onigloo-width);
  vertical-align: top;
  margin-top: 2vw;
}
.tiles-stack {
  position: absolute;
  height: var(--tiles-stack-height);
  top: 0;
  transform: rotateX(-180deg);
}
.tile-edge {
  display: block;
  width: var(--tile-edge-width);
}
.meeples-group {
  position: absolute;
  top: var(--board-meeples-fromtop);
  border-top: 3px solid;
}
.tiles-stack-player0 {
  left: var(--tiles-stack-fromleft0);
}
.tiles-stack-player1 {
  left: var(--tiles-stack-fromleft1);
}
.tiles-stack-player2 {
  left: var(--tiles-stack-fromleft2);
}
.tiles-stack-player3 {
  left: var(--tiles-stack-fromleft3);
}
.meeple-on-board {
  width: var(--meeple-onboard-width);
  margin-top:2px;
}
#tiles {
    text-align: center;
}
.tile-front > img, .tile-back > img {
    width:  var(--tile-normal-side);
    height: var(--tile-normal-side);
}
/* Flipping learned from here: https://www.w3schools.com/howto/howto_css_flip_card.asp */
.tile {
    display: inline-block;
    width: var(--tile-normal-side);
    height: var(--tile-normal-side);
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the two sides */
.tile-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform var(--flip-transition-time);
    transform-style: preserve-3d;
}
  
/* Position both sides */
.tile-front, .tile-back {
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the back side */
.tile-back {
    transform: rotateY(180deg);
}
/* Flip!  */
.tile-flip-right { transform: rotateY(180deg); }
.tile-flip-left  { transform: rotateY(-180deg); }